nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.navbar li {
  display: inline;
  list-style: none;
  line-height: 42px;
  font-family: "Poppins", sans-serif;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: rgb(197, 184, 255);
}
h1,
h2 {
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-family: "Playfair Display", serif;
}
h4 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.7;
}
.logo {
  max-width: 150px;
}

.hero {
  text-align: center;
  background-color: rgb(197, 184, 255);
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
  line-height: 1.5;
}

h1 {
  font-size: 96px;
  display: block;
  color: black;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
.hero h2 {
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
}
.btn:hover {
  color: black;
}
.btn-branding {
  background: #6c63ff;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: #6c63ff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid #6c63ff;
}
.project-description {
  padding: 120px 60px;
}
.about-section {
  padding: 30px;
}
.about-section-content {
  margin: 30px;
}
.about-section-content h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section-content h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.about-section-content p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
.self {
  border-radius: 15px;
}

.content-section {
  padding: 160px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: rgb(197, 184, 255);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 24px;
}

footer .email-link:hover {
  color: rgb(197, 184, 255);
}

footer .social-links a {
  margin: 0 30px;
  color: #6c63ff;
  padding: 10px 14px;
  font-size: 24px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: rgb(197, 184, 255);
}
@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 42px;
  }

  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  nav a {
    font-size: 14px;
    margin: 10px;
  }
}
